#paneMain{
    -fx-background-image: url("bg-vio.jpg");
}

#lblHeaderHello{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: "Eras Bold ITC";
}

#paneWelcomeMain{
    -fx-background-image: url("bg-mult.jpg");
}

#lblWelcome{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: "Eras Bold ITC";
}